body {
    padding : 0px;
    margin: 0px;
    background-image: url("/Users/milo/Downloads/fondopagina.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.navbar{ 
  width: 100%; 
  top: 0; 
  left: 0; 
  font-family:"lobster";
  font-size: 0.75rem;
  background-color: black;
  color: aliceblue;
}

.navbar a{
  text-decoration: none;
  color: inherit;
}

.menuR a:hover {
  color: #FFD700;
  text-decoration: underline;
}
.logo{
  width: 100px;
  height: auto;
}
.menuInf{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.menuR ul {
  display: flex;
  font-size: 1.5rem;
  gap: 40px;
  padding: 0px;
  list-style: none;
}



.menuSup ul{
  margin: 0px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  color: black;
  list-style: none;
}
.menuSup a{
display: flex;
align-items: center;
}

.logoEmail{
  width: 50px;
  height: auto;
}

.phoneLogo{
  width: 50px;
  height: auto;
}
.logoUsuario{
  width: 50px;
  height: auto;
}
.logoCarrito{
  width: 50px;
  height: auto;
}